#border-line {
    margin-top: 20px;
}

#right-space {
    position: relative;
}

.btn {
    margin-top: 4%;
}

#machine-image {
    width: 90%;
}

#beverage-list {
    border-style: solid;
    border-color: black;
    background-color: white;
    position: absolute;
    top: 11%;
    left: 14%;
    width: 43%;
    height: 65%;
}

#money-notification {
    margin-top: 7%;
    margin-bottom: 7%;
}

#stored-money-label {
    width: 27%;
}

#stored-money {
    width: 30%;
}

#input-money {
    width: 30%;
}

#wallet-money-label {
    width: 23%;
}

#wallet-money {
    width: 30%;
}

#wallet-input-box > input {
    width: 60%;
}
